<!doctype html>
<title>Hello from Flask</title>
{% if user %}
  <h1>Hello {{ user.display_name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}
<h1>Tasks!</h1>
{% for task in tasks %}
  <input type="checkbox">
  <h2>{{ task.description }}</h2>
{% endfor %}
